html, body {
  font-family: Verdana, sans-serif;
  font-size: 16px; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .box .item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: hotpink;
    border: 2px solid transparent; }

